<div class="container-fluid table-content">
      <div class="row">
        <div class="col-12">
          <div class="card shadow">
            <div class="card-body">
              <h6 class="card-title text-center">
                <span class="login-text">LOG IN</span>
              </h6>

              <div class="row">
                <label class="float-left">Username</label>
                <div class="col-md-12">
                  <input type="text" class="form-control montserrat-font"
                    v-bind:class="{ 'ErrorBorder': isUserNameFieldNotValid }" v-model="username"
                    @click="ChangeUserNameValid"><br>
                </div>
              </div>
              <div class="row">
                <label class="float-left">Password</label>
                <div class="col-md-12">
                  <input type="password" class="form-control" v-bind:class="{ 'ErrorBorder': isPassFieldNotValid }"
                    v-model="password" @click="ChangePsswordValid"><br><br>
                </div>
              </div>
                <button @click="checkFieldsValid()" class="primary-button">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>